<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Paste</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Paste</h1>
  <pre><%= paste.content %></pre>
  <a href="/">Create another paste</a>
</body>
</html>
